<h1><%= @user.name %>'s Profile</h1>
<p>Contact: <%= @user.email %></p>
<p>Request: <%= link_to 'Request from this user', requests_new_path %></p>
<p>Include: Gallery, Ratings, Reviews, About/Intro...</p>
